body {
    font-family: Chivo, sans-serif;
    background-color: #FDFDFA;
    color: #333333;
    margin: 0;
    padding: 0;
    font-size: 1em;
}
.container {
    width: 90%; /* Adjusted for smaller screens */
    margin: 20px auto; /* Center the container */
}

iframe {
    width: 100%; /* Make iframe take up 100% of its container width */
    max-width: 800px; /* Cap the width for larger screens */
    height: auto; /* Maintain aspect ratio */
}

img {
    width: 100%; /* Make the image take up 100% of its container width */
    max-width: 800px; /* Cap the image width for larger screens */
    height: auto; /* Maintain aspect ratio */
}

.table-container {
    display: block; /* Adjust for small screens */
    overflow-x: auto; /* Allow horizontal scrolling if necessary */
    margin: 0 auto; /* Center table horizontally */
}

table {
    width: 100%; /* Ensure the table takes full width */
    max-width: 100%; /* Prevent it from expanding beyond the container */
    border-collapse: collapse;
}

/* Adjust font size for smaller screens */
@media only screen and (max-width: 768px) {
    body {
        font-size: 0.9em;
    }

    h2 {
        font-size: 1.2em;
    }

    th, td {
        padding: 8px; /* Adjust padding for smaller screens */
    }
}
